@import "tailwindcss";

:root {
    --primary: #4ebde8;
    --background: #eeeeee;
    --text: #171717;
}

@theme inline {
    --color-primary: var(--primary);
    --color-background: var(--background);
    --color-text: var(--text);
}

body {
    background: var(--background);
    color: var(--text);
}
